<div>
    {{ detalle.display_title }}
    {{ detalle.mpaa_rating }}
    {{ detalle.critics_pick }}
    {{ detalle.byline }}
    {{ detalle.headline }}
    {{ detalle.summary_short }}
    {{ detalle.publication_date }}
    {{ detalle.opening_date }}
    {{ detalle.date_updated }}
    {{ detalle.link}}
    {{ detalle.multimedia }}
</div>

<!-- BOTÓN VOLVER -->
<div>
    <button routerLink="/" routerLinkActive="active" >VOLVER</button>
</div>

<!-- FUENTE -->
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">